<!DOCTYPE html>
<html>
	<head>
		<title>BookKeeper</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
					
		<div class="container" id="BP">

			<ul class="nav nav-pills navbar-right">
			  <li role="presentation"><a href="/index">Add Books</a></li>
			  <li role="presentation" class="active"><a href="#">List Your Books</a></li>
			  <li role="presentation"><a href="/users/profile">Your Profile</a></li>
			  <li role="presentation"><a href="/users/logout">Logout</a></li>
			</ul>

			<div class="row">

				<div class="col-sm-11">
					<h1><%= greeting %></h1>

					<span class="label label-success pull-right"><%= username %></span>

					<table class="table table-hover">
					  <tbody>
					  	<tr>
					  		<th></th> <!-- column for plus / minus icon -->
					  		<th>Title</th>
					  		<th>Author</th>
					  		<th>Rating</th>
					  		<th>Category</th>
					  		<th></th> <!-- column for Edit -->
					  		<th></th> <!-- column for Remove -->
					  	</tr>

			      <% books.forEach(function(book){ %>
						  	<tr class="bookItem" id="book_<%= book._id %>">
						  		<td><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" id="<%= book._id %>"></span></td>
					  	    <td> <em> <%= book.title %> </em>
										<div class="additionalContent showOrHide_<%= book._id %>">
							  	    <img src="http://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" />
										</div>
					  	    </td>
					  	    <td> <%= book.author %> <br>
					  	    	<div class="additionalContent showOrHide_<%= book._id %>">
					  	    		<p>Publisher: <%= book.publisher %></p>
					  	    		<p>ISBN: <%= book.isbn %></p>
					  	    		<p>Dewey Decimal: <%= book.ddc %></p>
					  	    	</div>
						  	  </td>
					  	    <td> <span class="label label-primary"> <%= book.rating %> </span> </td>
					  	    <td> <%= book.category %> <br>
					  	    	<div class="additionalContent showOrHide_<%= book._id %>">
							  	    <p>Review: <%= book.review %></p>
					  	    	</div>
					  	    </td>
					  	    <td><button type="button" class="btn btn-default btn-xs btn-success edit-btn" id="<%= book._id %>">Edit</button></td>
					  	    <td><button type="button" class="btn btn-default btn-xs btn-danger remove-btn" id="<%= book._id %>">Remove</button></td>

						  	</tr>
			      <% }) %>
					  </tbody>
					</table>

				</div>

				<div class="col-sm-1">
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
	</body>

</html>
