<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <h3><%= title %></h3>
          <span class="label label-success">User: <%= username %></span>

            <form class="form-horizontal" id="bookForm" method="post" action="/book">
              <input type="hidden" name="_id" value="<%= item_props._id %>">

              <div class="form-group">
                <label for="bookTitle" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookTitle" name="title" value="<%= item_props.title %>" minLength="2" required>
                </div>
              </div>

              <div class="form-group">
                <label for="bookAuthor" class="col-sm-2 control-label">Author</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookAuthor" name="author" value="<%= item_props.author %>">
                </div>
              </div>

              <div class="form-group">
                <label for="bookPublisher" class="col-sm-2 control-label">Publisher</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookPublisher" name="publisher" value="<%= item_props.publisher %>">
                </div>
              </div>

              <div class="form-group">
                <label for="bookISBN" class="col-sm-2 control-label">ISBN</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookISBN" name="isbn" value="<%=item_props.isbn %>">
                </div>
              </div>

              <div class="form-group">
                <label for="bookDDC" class="col-sm-2 control-label">Dewey Decimal</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookDDC" name="ddc" value="<%=item_props.ddc %>">
                </div>
              </div>
                            
              <div class="form-group">
                <label for="bookRating" class="col-sm-2 control-label">Rating</label>
                <div class="col-sm-10">
                  <select class="form-control" id="bookRating" name="rating">
                    <option <% if (item_props.rating === 1) { %>
                      selected
                      <% } %>
                      >1</option>
                    <option <% if (item_props.rating === 2) { %>
                      selected
                      <% } %>
                      >2</option>
                    <option <% if (item_props.rating === 3) { %>
                      selected
                      <% } %>
                      >3</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="bookReview" class="col-sm-2 control-label">Review</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="bookReview" name="review"><%= item_props.review %></textarea>
                </div>
              </div>
              
              <div class="form-group">
                <label for="bookPubYear" class="col-sm-2 control-label">Year Published</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookPubYear" name="pubYear" value="<%= item_props.pubYear %>">
                </div>
              </div>

              <div class="form-group">
                <label for="bookCategory" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="bookCategory" name="category" value="<%= item_props.category %>">
                </div>
              </div>

              <div class="form-group">
                <label for="bookHaveRead" class="col-sm-2 control-label">Have read?</label>
                <div class="col-sm-2">
                  <input type="checkbox" class="form-control" id="bookHaveRead" name="haveRead"  <% if (item_props.haveRead) { %> checked <% } %> >
                </div>
              </div>
              
              <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" id="saveButton" value="Save to Library">
                <p></p>
              </div>

          </form>
          <br><br><br>
 
          
        </div>
        <div class="col-sm-2">
          <a href="/book"><button type="button" class="btn btn-primary btn-sm">View books</button></a>
          <p></p>
          <a href="/users/logout"><button type="button" class="btn btn-primary btn-sm">Logout</button></a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script type="text/javascript" src="/javascripts/validate.js"></script>
    
  </body>
</html>
